@font-face {
  font-family: "Cirka-Bold";
  src: url("Cirka-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


body {
    font-family: 'Questrial', sans-serif;
    font-size: 34px;
    
    color: white;
    background-attachment: fixed;

    width: 90vw;
    margin: auto;
    height: 100vh;
    background-color: black;
}

h1 {
    font-family: "Cirka-Bold";
    font-size: 60px;
    line-height: 120%;
    z-index: 10;
}


#contain {
    position: relative;
}

em {
    text-decoration: #4E03E1 wavy underline;
}


#enveloppe {
    display: inline-flex;
    z-index: 9;
    height: 90vh;

}


#one {
    width: 50%;
    height: 45vh;
    padding: 25vh 0;
}

        
#sub-footer {
    border-top: solid 2px #0A0A0C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
            
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
            
    padding: 10px 0;
    width: 90vw;
    height: 10vh;
    margin: auto;
    
    z-index: 8;
}


ul {
    display: block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

li {
    display: inline;
}




/*apparition du gif au HOVER*/

.id {
    display: none;
    pointer-events: none;
    position: absolute;
    width: 300px;
    z-index: auto;
}

.ad {
	z-index: 3;
}

a {
    text-decoration: none;
    color: white;
}


/*responsive*/


@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  #social {
    display: none;
  }
    

 #one, #two {
    width: 80vw;
    height: auto;
}
   
    
#one {
    padding: 10% 0;
}
    
#two {
    padding: 20% 0;
}   
    
#enveloppe {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: auto;
}
    
#sub-footer {
    padding: 1em 0;
    width: 80vw;
    height: auto;
}
    
    
} 


